# Настройки Django

# SECRET_KEY можно сгенерировать с помощью терминала python:
# >>> import secrets
# >>> print(secrets.token_urlsafe(50))
SECRET_KEY=urTfYSDCPmlji9-fOFMiRqAvIhO83aurOXPe0YXT9YlwQ20HNQNkbumt8YvstuhYddE

# Режим отладки False or True
DEBUG=False

# ALLOWED_HOSTS например через запятую: localhost,127.0.0.1,<ИМЯ ДОМЕНА ИЛИ IP АДРЕС СЕРВЕРА> или оставить `*` для всех
ALLOWED_HOSTS=*

# Настройки базы данных, что создали на этапе 12-13
DB_NAME=mycloud
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Настройки superuser для админки Django
ADMIN_USERNAME=admin
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=Administrator
ADMIN_EMAIL=admin@mail.ru
ADMIN_PASSWORD=admin